.btn {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'salt' on;
  color: #FFFFFF;
  padding: 10px 65px;
  background: #FF3E2D;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
