.prices {
  background: #0F131A;

  // top
  &-top {
    padding: 0;
    margin: 0;

    &-list {
      max-width: 950px;
      margin: -70px auto;
      list-style: none;
      display: flex;
      background: #161A1F;
      border: 1px solid rgba(255, 255, 255, 0.16);
      box-shadow: 0px 8px 24px rgba(5, 7, 11, 0.6);
      border-radius: 16px;
      padding: 16px;
      gap: 24px;

      &-item {
        // max-width: 303px;
        background: #0F1319;
        border-radius: 10px;
        padding: 20px 50px;
        cursor: pointer;
        text-align: center;  
        transition: 1s ease;
        
        &__heading {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 140%;
          color: #ffffff;
        }
      }
    }
  }

  // main
  &-main {

    &__desc {
      padding-top: 117px;
      text-align: center;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #FF3E2D;  
      margin: 0;    
    }

    &__heading {
      font-family: 'Lato';
      padding: 0;
      margin: 0;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 140%;
      text-align: center;
      color: #FFFFFF;
    }

    &-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-item {
      padding: 20px;
      border: 1px solid #31343A;
      background: #090D14;
      border-radius: 16px;
      transition: 1s;

      &__desc {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FF3E2D;
        margin: 0;
      }

      &-box {
        display: flex;
        align-items: center;
        padding-top: 8px;

        &__heading {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 24px;
          color: #FFFFFF;
          margin: 0;
        }

        &__desc {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.6);
          margin: 0;
          padding: 0;
        }
      }

      &__heading {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #FF3E2D;
        padding: 24px 0;
        margin: 0;        
      }

      &-boxTwo {
        display: flex;
        padding: 20px 0;
        align-items: center;

        &__desc {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.6);
          padding: 0;
          margin: 0;
        }

        &__heading {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.6);
          padding: 0;
          margin: 0;
        }

        &__img {
          padding: 10px;
          margin-top: -10px;
        }
      }

      &__btn {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;        
        padding: 10px 140px;
        background: #32363C;
        border-radius: 10px;
      }
    }
  }

  // footer

  &-footer {
    padding-top: 65px;


    &-list {
      padding: 48px 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;

      &-item {
        border: 1px solid #FFFFFF;
        border-radius: 16px;
        padding: 20px;
        text-align: center;


        &__heading {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          padding-top: 24px;
          margin: 0;
          color: #FFFFFF;
        }

        &__img {
          width: 36px;
          height: 36px;
        }
      }
    }


  }

}


@media only screen and (max-width: 1270px) {
  .prices-main-list {
    flex-direction: column;
  }

  .prices-main-item {
    width: 80%;
  }

  .prices-top-list {
    flex-direction: column;
  }

  .prices-top-list-item {
    margin: 0 auto;
    width: 100%;
  }

  .prices-main-item__btn  {
    width: 100%;
    padding: 10px 45%;
  }

}

@media only screen and (max-width: 700px) {
  .prices-footer-list {
    flex-direction: column-reverse;
    padding: 0;
  }

  .prices-main-item__btn  {
    width: 100%;
  }
  
  .prices-footer-list-item {
    width: 100%;
  }
}